<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @student.name %>
</p>

<p>
  <strong>Student:</strong>
  <%= @student.student_id %>
</p>

<p>
  <strong>Email:</strong>
  <%= @student.email %>
</p>

<p>
  <strong>Course And Section::</strong>
  <ul>
  <% @student.sections.uniq.each do |course| %>
  	<li><%= course.cosem %></li>
  <% end %>
  </ul>
</p>





<%= link_to 'Edit', edit_student_path(@student) %> |
<%= link_to 'Back', students_path %>
